* {
    margin: 0;
    padding: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clr{
	clear:both;
}
a{
	text-decoration: none;
}

.wj-obl{
	background: #fff;
}
.wj-obl a:hover{
    color: #e8433d;
    text-decoration: none;
}
.wj-obl .wj-top {
    height: 3em;
    background: #fff;
    line-height: 3em;
    border-bottom: 2px solid #e8433d;
}
.wj-topImg1 img {
    margin: 0.5em 0 0 1em;
}
.wj-topImg2 img {
    margin: 0.5em 1em 0 0;
}
.wj-topTxt {
    width: 75%;
    font-size: 1em;
    font-weight: bold;
    color: #e8433d;
    text-align: center;
}
.wj-conTit {
    height: 3em;
    line-height: 3em;
    margin: 0.5em 0.5em 0 0.5em;
}
.wj-conTit li {
    width: 25%;
    float: left;
    padding-bottom: 1px;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    list-style-type: none;
}
.wj-conTit li.on{
		padding-bottom:0;
    border-bottom: 2px solid #e8433d;
}
.wj-conTit li a {
	color: #515050;
    font-size: 1em;
    font-weight: bold;
}
.wj-conGoods{
	height: 7em;
	width:100%;
	line-height: 7em;
	border-bottom: 1px solid #e4e4e4;
	float:left;
}
.wj-obl .department{
	padding:0; margin:0; width:100%;
}
.wj-obl .department .wj-conGoods .img-line .wj-conGImg{
	height: 5em;
	width: 25%;
	margin: 1em 0.5em;
	border:1px solid #e4e4e4;
	float:left;
}
.wj-obl .department .wj-conGoods .img-line .wj-conGImg{
	height: 5em;
	width: 5em;
	margin: 1em 0.5em;
}
.wj-obl .department .wj-conGoods .img-line .wj-conGImg img{
	padding: 0.25em;
	height: 4.5em;
	width: 4.5em;
}
.wj-conTxt{
	height: 5em;
	width: 40%;
	margin: 1em -2em 1em 0;
	float:left;
}
.wj-conTxt .wj-conTxt1 {
	width: 100%;
	height: 2.5em;
	min-width:10em;
	line-height: 1em;
	font-size: 0.8em;
	font-weight: bold;
	color: #515050;
	padding-top: 1em;
	overflow: hidden;
}
.wj-conTxt .wj-conTxt2 {
	width: 10em;
	height: 4em;
	min-width: 10em;
	line-height: 1em;
	font-size: 0.6em;
	color: #7e7e7e;
	overflow: hidden;
}
.wj-conPrice{
	height: 5em;
	width: 35%;
	margin: 1em -1em 1em 1em;
	float:left;
}
.wj-conPrice .wj-conPriTxt1{
	width: 5em;
	height: 1.5em;
	min-width: 5em;
	line-height: 1em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #515050;
	padding-top: 2em;
	padding-bottom: -1em;
	margin-left: 2em;
	overflow: hidden;
}
.wj-conPrice .wj-conPriTxt2{
	width: 6em;
	height: 2.8em;
	min-width: 6em;
	line-height: 1em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #515050;
	margin-left: 2em;
	margin-top: 0.1em;
	overflow: hidden;
}
.wj-conShow,.wj-conObli{
	height: 2.5em;
	line-height:2.5em;
	border-bottom: 1px solid #e4e4e4;
}
.wj-conShow p,.wj-conObli p{
	font-size: 0.6em;
	color: #7e7e7e;
}
.wj-conObli span{
	font-size: 0.6em;
	color: #515050;
}
.wj-conObli .wj-conObliTxt{
	letter-spacing: 0.1em;
	margin-left: 1em;
}
.wj-conBut{
	height: 2em;
	line-height:2em;
	margin: 0.2em 1em;
}

.wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut2 {
	height: 2em;
	width: 5em;
	line-height: 2em;
	text-align: center;
	background: #ffffff;
	margin-right: 1em;
	float: right;
}
.wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut1{
	height: 2em;
	width: 7em;
	line-height: 2em;
	text-align: center;
	background: #ffffff;
	margin-right: 1em;
	float: right;
}
.wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut2 p, .wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut1 p{
	color: #fff;
	font-size: 1em;
	background-color:#e8433d;
}

.wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut2 .ui-btn, .wj-obl .department .divstyle .department_c .wj-conBut .wj-conBut1 .ui-btn{
	background-color:#e8433d;
	color:#FFFFFF;
	font-size: 0.9em;
	}
.wj-conBut1 p,.wj-conBut2 p{
	color: #fff;
	font-size: 0.9em;
}

.wj-obl .department .divstyle .order-id .order-id-span {
    width: 100%;
	margin-top:10px;
	font-size: 0.6em;
	color: #7e7e7e;
}

/*选项卡*/
.department,.divstyle {
    width: 100%;
}

.dis {
    display: block; width:90%; margin-left:5%;
}
.undis {
    display: none;
}
.department_c {
    height: 22em;
}
/*团购页*/

.jqm-hxyy .bulk-content .buik-navigation {
    height: 3em;
    line-height: 3em;
    margin: 0.5em 0.5em 0 0.5em;
	border-bottom: 2px solid #e4e4e4;
	font-size:14px; 
}
.jqm-hxyy .bulk-content .buik-navigation li {
    width: 25%;
    float: left;
    padding-bottom: 1px;
    border-bottom: 2px solid #e4e4e4;
    text-align: center;
    list-style-type: none; 
}
.jqm-hxyy .bulk-content .buik-navigation li.on{
	padding-bottom:0; 
    border-bottom: 2px solid #e8433d;
}
.jqm-hxyy .bulk-content .buik-navigation li a {
	color: #505050;
    font-size: 1em;
    font-weight: bold;
}

.jqm-hxyy .bulk-content .goods-content{
	width:100%;
}
.jqm-hxyy .bulk-content .goods-content .update-time{
	width:95%; height:25px; line-height:25px; font-size:14px; color:#979797; text-align:right; padding-right:5%;
}
.jqm-hxyy .bulk-content .goods-content .goods-details{
	width:90%; height:250px; margin-left:5%; border: 1px solid #e4e4e4;
}
.jqm-hxyy .bulk-content .goods-content .goods-details .image-div{
	width:100%; height:140px; 
}
.jqm-hxyy .bulk-content .goods-content .goods-details .image-div .image-div-bord{
	width:100%; height:140px;  margin-top:-140px; text-align:right;
}
.jqm-hxyy .bulk-content .goods-content .goods-details .image-div .image-div-img{
	width:100%; height:140px; 
}
.jqm-hxyy .bulk-content .goods-content .goods-details .image-div .image-div-img img{
	width:100%; height:100%; 
}


.jqm-hxyy .bulk-content .goods-content .buil-price-buy{
	width:90%; height:40px; float:left; margin-left:5%; margin-top:10px;
}
.jqm-hxyy .bulk-content .goods-content .buil-price-buy .buil-price{
	width:50%; height:40px; float:left;
}
.jqm-hxyy .bulk-content .goods-content .buil-price-buy .buil-price .now-price{
	font-size:20px; color:#e7423c;
}
.jqm-hxyy .bulk-content .goods-content .buil-price-buy .buil-price .old-price{
	font-size:14px; color:#cccccc;
}
.jqm-hxyy .bulk-content .goods-content .buil-price-buy .buil-buy{
	width:50%; height:40px; float:left; text-align:right;
}
.jqm-hxyy .bulk-content .goods-content .buil-describe{
	width:90%; height:45px;  float:left; margin-left:5%; margin-top:5px; font-size:14px; color:#818181;
}